@if (User.Identity.IsAuthenticated)
{
    <div>Hello, @User.Identity.Name</div>
    <a class="btn btn-secondary" asp-controller="Account" asp-action="Logout">Logout</a>
}
else
{
    <a class="btn btn-secondary" asp-controller="Account" asp-action="Login">Login</a>
}